.btn-danger {
    float: left;
    position: relative;
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    background: ;
    opacity: 1;
}

.btn-primary {
    display: inline-block;
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    background: ;
    opacity: 1;
}

#d6d6d6